<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>PeerJetty</string>
	<key>CFBundleName</key>
	<string>PeerJetty</string>
	<key>CFBundleExecutable</key>
	<string>PeerJetty</string>
	<key>CFBundleIdentifier</key>
	<string>app.openonmini.desktop</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.5</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>发现并连接你配对的 Mac，在局域网直接传输文件。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_openonmini._tcp</string>
	</array>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>将配对设备发送的文件保存到你选择的接收文件夹。</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>读取你选中发送的文件，或保存到你选择的接收文件夹。</string>
</dict>
</plist>
